.brand-section {
  width: 100%;
  /* min-height: 100vh; */
  background: url("../assets/bgherodesk.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.brand-content {
  /* flex: 1 1 350px; */
  /* max-width: 520px; */
  /* padding: 0 2rem; */
  display: flex;
  flex-direction: column;
  /* flex-direction: column;
  justify-content: center;
  text-align: center; */
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
  /* margin-bottom: 0.2rem; */
  width: 80%;
}

.brand-title {
  font-size: 1.5rem;
  font-weight: 800;
  color: #fff;
  line-height: 1.2;
}

.brand-title-yellow {
  color: #ffd600;
  font-weight: 800;
}

.brand-desc {
  color: #d6e6d6;
  font-size: 1rem;
  /* margin-bottom: 2rem; */
  font-weight: 300;
  line-height: 1.5;
  width: 70%;
}

.brand-how-title {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  letter-spacing: 1px;
}

.brand-how-list {
  list-style: none;
  padding: 0;
  margin: 0 0 1.5rem 0;
  /* width: 50%; */
}

.brand-how-list li {
  color: #fff;
  font-size: 1rem;
  margin-bottom: 1.2rem;
  font-weight: 500;
  position: relative;
  padding-left: 2rem;
}

.brand-how-dot {
  position: absolute;
  left: 0;
  top: 0.3rem;
  width: 4px;
  height: 4px;
  background: #e5c925;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.7rem;
  border: 7px solid #1db954;
}

.brand-how-desc {
  color: #d6e6d6;
  font-size: 0.8rem;
  font-weight: 300;
  /* color: red; */
  /* border: 1px solid red; */
  /* width: 5rem; */
  /* opacity: 0.85; */
}
.brand-how-list li {
  /* border: 1px solid red; */
  width: 60%;
}

.brand-success-title {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.brand-success-desc {
  font-size: 0.8rem;
  color: #d6e6d6;
  font-weight: 400;
}

.brand-success-green {
  color: #1db954;
  font-weight: 700;
}
.brand-how-content {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand-image-block {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 8rem;
}

.brand-cart-img {
  width: 25rem;

  /* position: relative; */
  /* z-index: 1; */
}
.brand-success-card {
  width: 25rem;
  padding: 1rem;
  background-color: #091c12;
  position: absolute;
  top: 100%;
  border-radius: 8px;
  border: 1px solid #4e5a52;
}
@media (max-width: 768px) {
  .brand-content {
    width: 90%;
  }
  .brand-desc {
    width: 100%;
    /* font-size: 0.7rem; */
  }
  .brand-how-list li {
    width: 90%;
  }
  .brand-how-list {
    width: 100%;
  }
  .brand-cart-img {
    width: 15rem;
  }
  .brand-success-card {
    width: 14.5rem;
    /* padding: 0.2rem; */
  }
  .brand-how-content {
    flex-direction: column;
    padding: 0 0 2rem 0;
  }
}
